* {
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100%;
    background-image: url(../images/circuit.png);
    background-size: cover;
}

.header {
    position: fixed;
    padding-bottom: 0;
    left: 0;
    top: 0;
    height: 58px;
    width: 100%;
    display: block;
    background-color: #666666;
    border-bottom: 2px solid #666666;
}

.inner-header {
    width: 15%;
    height: 60px;
    text-align: center;
    display: inline-flex;
    margin: 0 auto;
    background: indianred;
    float: left;
    margin-left: 150px;
}

.name {
    height: 60px;
    float: left;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    font-size: 25px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 30px;
}

.main-menu li {
    height: 60px;
    vertical-align: middle;
    float: right;

    padding-right: 50px;
    padding-left: 10px;
    vertical-align: middle;
    margin-top: 20px;
}

.main-menu li a {
    display: table;
    vertical-align: middle;
    height: 60px;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

#main-container {
    padding-top: 80px;
}

section.main-section {
    background-color: wheat;
    width: 100%;
    max-width: 1100px;
    padding-left: 25px;
    padding-right: 55px;
    padding-bottom: 25px;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 300px;
}
    
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: indianred; 
    font-size: 30px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
}

img#photo {
    width: 200px;
    height: 250px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    float: left;
    border: none;
}

.clearfix {
    display: block;
    clear: both;
}

p {
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: justify;
    text-align: justify;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3%;
    padding: 5px;
    border-top: 8px solid indianred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #666666;
    text-align: center;
    color: white;
}

.fa-github {
    height: 50px;
    width: 70px;
    border-radius: 95%;
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-left: 200px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px; 
}

.fa-github:hover {
    opacity: 0.7;
}

.fa-linkedin {
    width: 45px;
    height: 52px;
    border-radius: 95%;
    background: #007bb5;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: 15px;
}

.fa-linkedin:hover {
    opacity: 0.7;
}

.fa-file-pdf {
    width: 57px;
    height: 52px;
    border-radius: 95%;
    background: crimson;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px; 
    margin-left: 30px;
}

.fa-file-pdf:hover {
    opacity: 0.7;
}

/* This is a code for a contact webpage*/

#error_message {
margin-left: 400px;
margin-right: 300px;
text-align: center;
font-weight: bold;
background-color: gainsboro;
}

input[type=text] {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    width: 80%;
    height: 10px;
    padding: 30px 50px;
    margin: 15px 80px;
    border: 2px solid gainsboro;
    border-radius: 4px;
    background-color: gainsboro;
}

div#text {
    margin-left: 80px;
}
     
  input[type=submit] {
    width: 20%;
    height: 50px;
    background-color:indianred;
    color: white;
    padding: 14px 20px;
    margin: 8px 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

#text {
    font-weight: bold; 
    font-size: 18px;
}
/* This is a code for a portfolio webpage*/

div.team-projects {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

.exemplary-homeworks {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}

#project1,
#project5 {
    width: 33%;
}

#project2,
#project3,
#project4 {
    width: 33%;
}

img {
    width: 200px;
    height: 140px;
    border: 0 none;
    margin-right: 0;
    opacity: 0.8;
    border: 1px solid midnightblue;
}

h3 {
    position: relative;
    bottom: 55px;
    width: 172px;
    padding: 15px;
    font-weight: 300;
    line-height: 15px;
    color: #ffffff;
    text-align: center;
    background: indianred;
    overflow: auto;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: midnightblue;
    padding-bottom: 10px;
}